body {
width: 100%;
height: 100%;
margin: 0;
display: block;
}

.green {
display:Flex;
width: 100%;
height: 66%;
background-color: black;
}

.blue {
		display: block;
		height:40%;
		width:100%;
		background-color: #002244;
}

.chile1{
display:block;
width: 100%;
height: calc(100%/3);
background-color: blue;
}

.chile2{
display:Block;
width: 100%;
height: calc(100%/3);
background-color: blue;
}

.chile3{
display:block;
width: 100%;
height: calc(100%/3);
background-color: blue;
}

.chile4{
display:block;
width: 100%;
height: calc(100%/3);
background-color: blue;
}

.chile5{
display:block;
width: 100%;
height: calc(100%/3);
background-color: blue;
}

.chile6{
display:block;
width: 100%;
height: calc(100%/3);
background-color: blue;
}

.black{
display:Flex;
width: calc(100%/2);
height: 100%;
}

.row0{
display: block;
width:calc(100%/4);
height:100%;
}

.row1{
display: block;
width:calc(100%/4);
height:100%;
}

.center {
display: flex;
align-items: center;
justify-content: center;
}

.restrict {
max-height: 80%;
max-width: 80%;
}

.pointer:hover {
cursor: crosshair;
}


